<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548545592023-kmhlvcu3jjjh3rskhe9ohn6fqfrdt36l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548545592023-kmhlvcu3jjjh3rskhe9ohn6fqfrdt36l</string>
	<key>API_KEY</key>
	<string>AIzaSyAUQMtompdt9QhEl6hCVo8Lg21R6_T1f3w</string>
	<key>GCM_SENDER_ID</key>
	<string>548545592023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>First.CookingFinalProject</string>
	<key>PROJECT_ID</key>
	<string>cornucopia-c8951</string>
	<key>STORAGE_BUCKET</key>
	<string>cornucopia-c8951.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548545592023:ios:2bfc31546f3dbc69e58e92</string>
</dict>
</plist>